h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.headerStyle {
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 12px;
    background-image: url('/brick-background.svg')
  }

/*TAKEN FROM HEROLIST.CSS*/
.listOutput {
    padding: 8px;
    margin: 0 auto;
}

/* .parent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
} */

.child {
  width: 40%;
  flex: 0;
}

.heroName {
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  margin: 4px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.heroImage {
  width: 220px;
  height: 200px;
  margin: 4px;
  border-radius: 25px;
  border: 12px solid black;
}

.heroDescrip {
  width: 200px;
  margin: 0 auto;
  padding: 4px;
  text-justify: auto;
}

.inputFieldBox {
  margin: 0 8px;
  height: 20px;
  font-size: 18px;
}

.inputButton {
  margin: 8px;
  padding: 4px;
}

