h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .5px;
}

.headerStyle {
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: rgb(24, 19, 23);
    color: white;
    font-weight: 800;
    padding: 12px;
    background-image: url('/brick-background.svg')
  }

/*TAKEN FROM HEROLIST.CSS*/
.listOutput {
    padding: 8px;
    margin: 0 auto;
}

.inputInstructs {
    font-family: 'Helvetica', 'Arial';
}

.inputFieldBox {
  margin: 0 8px;
  padding: 4px;
  height: 20px;
  font-size: 18px;
  width: 88px;
}

.inputButton {
  height: 28px;
  width: 66px;
  margin: 0 8px;
  padding: 4px;
  border-radius: 8px;
  border: 3px white solid;
  background-color: rgb(42, 207, 84);
}

