.searchBox {
    height: 100%;
    background-color: rgb(126, 73, 117);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.listOutput {
    padding: 12px 18px;
    margin: 0 auto;
}

.heroName {
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  margin: 4px;
  /* color: black; */
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000000,
      -1px -1px 0 #000000,  
       1px -1px 0 #000000,
       -1px 1px 0 #000000,
        1px 1px 0 #000000;
 }


.heroImage {
  width: 220px;
  height: 200px;
  margin: 8px;
  border-radius: 25px;
  border: 12px solid black;
}

.heroDescrip {
  width: 200px;
  margin: 0 auto;
  padding: 4px;
  text-justify: auto;
}



