body {
    margin: 24px;    
}
.navStyle {
    background-color: rgb(24, 19, 23);
    color: white;
}

a {
    color: white;
  }

  a:link {
    text-decoration: black;
    font-weight: 600;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: red;
  }
  
  a:active {
    text-decoration: underline;
  }