/* .parent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
.child {
  width: 40%;
}

.heroName {
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  margin: 24px 15px 0px;
  color: black;
  text-transform: uppercase;
}

.heroImage {
  width: 400px;
  padding: 0px;
  border-radius: 25px;
  border: 12px solid black;
}

.heroDescrip {
  width: 400px;
  margin: 0 auto;
  padding: 10px 15px 24px;
  text-justify: auto;
}

.inputStyle {
  margin: 0 8px;
  height: 20px;
  font-size: 18px;
}

.inputButton {
  margin: 8px;
  height: 20px;
  padding: 0px;
}
 */
